/* Denise M. Gilbert
VFW Term 1211
Project 3
November 8, 2012
styles.css Page*/

#errors {
    color: red;
    font: 12px Arial;
    font-weight: bold;
}

#homePage {
    background-color: #882A97;
    color: #37FDFC;
    font-size: 20pt;
    font-variant: small-caps;
    font-weight: bold;
    font-family: Times;
    letter-spacing: .15em;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

header {
    background-color: #662071;
    border: 4px groove #C0C0C0;
    border-radius: 5px;
    margin-bottom: 1px;
}

h1 {
    background-color: #882A97;
    color: #37FDFC;
    font-size: 20pt;
    font-variant: small-caps;
    font-weight: bold;
    font-family: Times;
    letter-spacing: .15em;
    padding: 4px;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #37FDFC;
    font-size: 18pt;
    font-variant: small-caps;
    letter-spacing: .08em;
    margin-bottom: 25px;
    text-align: center;
}

h3 {
    color: #FAFAFA;
    font: italic 16pt Times, serif;
    line-height: 1.6em;
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    text-align: center;
}

h4 {
    text-align: center;
}

#requiredNote {
    color: #FF0000;
    font-size: 14px;
    font-weight: bold;
}

p {
    color: #000;
    font-size: 16px;
    font-family: Arial;
    margin-left: 10px;
}

fieldset {
    background-color: #FAFAFA;
    border: 2px ridge #C0C0C0;
}

legend {
    background-color: #882A97;
    border-color: #662071;
    border-radius: 5px;
    color: #37FDFC;
    font-size: 20px;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: .02em;
    padding: 1px;
    text-align: center;
    width: 260px;
}

label {
    color: #662071;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
}

input {
    font-size: 16px;
    font-family: Arial;
    width: 240px;
}

input:focus
{ 
background-color:#9F31B0;
color: #FFFFFF;
font-weight: bold;
}

textarea:focus
{ 
background-color:#9F31B0;
color: #FFFFFF;
font-size: 16px;
font-weight: bold;
}

#ringsize {
    width: 45px;
}

#piercedEars {
    width: 15px;
}

#groups {
    font-size: 16px;
    width: 260px;
}

body {

    background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.02, #5C246E),
	color-stop(0.64, #9A2EA5),
	color-stop(0.72, #76237F)
);
}

input[type="range"] {
    -webkit-appearance: none;
    -webkit-border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #80278C, #AF36BF, #80278C);
    width: 225px;
}

textarea {
    width: 250px;
}

.purchased {
    -webkit-transform: translatey(5px);
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 9px;
    position: relative;
    width: 10px;
}

.purchased:checked {
    background-color: #EF93FD;
    border: 1px solid #000;
}

.purchased:checked:after {
    background: #80278C;
    border-radius: 50px;
    content: ' ';
    height: 12px;
    width: 12px;
    left: 3px;
    position: absolute;
    top: 3px;
}

a:link {
    color: #F54D70;
    font: 16px Times;
    font-weight: bold;
}

a:visited {
    color: #C0C0C0;
    font: 16px Times;
    font-weight: bold;
}

#saveRecipient {
    background-color: #662071;
    border: 3px outset silver;
    border-radius: 15px;
    color: #FFF;
    font-style: italic;
    font-size: 18px;
    font-weight: bold;
    font-family: Times;
    margin-top: 5px;
    width: 180px;
}

nav {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

#items {
    background-color: #FAFAFA;
    border: 2px inset #C0C0C0;
}

#clearData {
    color: #F54D70;
    font: 16px Times;
    font-weight: bold;
}

#addRecipient {
    color: #F54D70;
    font: 16px Times;
    font-weight: bold;
}

#displayData {
    color: #F54D70;
    font: 16px Times;
    font-weight: bold;
}

#editRecipient {
    color: #F54D70;
    float: left;
    font: 16px Times;
    font-weight: bold;
}

#deleteRecipient {
    color: #F54D70;
    float: right;
    font: 16px Times;
    font-weight: bold;
}

#sunSign {
    margin-top: 0;
    margin-bottom: 0;
}

footer {
    margin-bottom: 20px;
    text-align: center;
}

#rows ul > li:nth-child(odd) { background-color:#E8E8E8; }
#rows ul > li:nth-child(even) { background-color:white; }